[Desktop Entry]
Type=Application
Name=OpenWave
GenericName=Audio Mixer
Comment=Dual-mix virtual audio mixer for streaming
Exec=openwave
Icon=de.ghostzero.OpenWave
Terminal=false
Categories=AudioVideo;Audio;Mixer;GTK;
Keywords=audio;mixer;stream;mix;pipewire;wavelink;monitor;
StartupNotify=true
SingleMainWindow=true
X-GNOME-UsesNotifications=false
